In [5]:
#data types & variable.

print(123)

123

In [1]:
print('123')

123

In [ ]:
#data types------>
#int------>numbers------>+/-(0-9)
#string
#float
#boolean
#complex

In [3]:
a = 10
print(a)

10

In [6]:
print(b)

NameError: name 'b' is not defined

In [10]:
#print('b')
b='hello bhai'
print(b)

hello bhai

In [11]:
print('c')

c

In [12]:
x=90
print(x)

90

In [13]:
type(x)

int

In [14]:
x=-90
print(x)

-90

In [15]:
type(x)

int

In [16]:
#float----->int------>decimal values!!.
x=34.5
print(x)

34.5

In [17]:
type(x)

float

In [18]:
x=45.25
print(x)

45.25

In [19]:
type(x)

float

In [21]:
#string
a='jiejdwojokewp'
print(a)

jiejdwojokewp

In [22]:
type(a)

str

In [23]:
a=123
print(a)

123

In [24]:
type(a)

int

In [25]:
x='123'
print(x)

123

In [26]:
type(x)

str

In [29]:
#boolean------>true/false


a='true'
print(a)
type(a)

true

str

In [30]:
a=True
print(a)
type(a)

True

bool

In [33]:
a='bahubali'
print(a)

bahubali

In [38]:
x = False
print(x)
type(x)

False

bool

In [36]:
x=false
print(x)

NameError: name 'false' is not defined

In [39]:
x='False'
print(x)
type(x)

False

str

In [41]:
#complex------>complex numbers!!.
#2+4i
x=2+7j
print(x)
type(x)

(2+7j)

complex

In [1]:
# wap to add 2 number
a=1
b=2
c=a+b
c

3

In [6]:
# wap to swap two number
# 1 with the help of third variable. 
#2 without using variable.



a=9
b=4

print("before swapping------->",a,b)

c=a
a=b
b=c
print("after swapping------->",a,b)

before swapping-------> 9 4
after swapping-------> 4 9

In [7]:
a,b=2,4
print(a)

2

In [8]:
print(b)

4

In [9]:
a=8
b=4
a,b=b,a
print(a,b)

4 8

# User input

In [13]:
# user input------> user se input lena......
# hard code -----> no need to do it.
# pubg------>
# web app-------->
# android app------->
# gaming-------->

x = input("enter something")
print(x)

enter something9548395602
9548395602

In [18]:
# wap to add 2 number with the help user input.
a=input ("enter the first number ")
b=input ("enter the second number")
c=a+b
print(c)

enter the first number 2
enter the second number2
22

In [17]:
# input------>o/p string
# concatenation concatenate
a='9'
b='5'
c=a+b
print(c)

95

In [20]:
a=int(input ("enter the first number "))
b=int(input ("enter the second number"))
c=a+b
print(c)

enter the first number 9
enter the second number1
10

In [ ]:
# type casting / type conversion / data type casting

In [21]:
a=input ("enter the first number ")
b=input ("enter the second number")
c=int(a)+int(b)
print(c)

enter the first number 2
enter the second number1
3

In [24]:
a=int(input ("enter the first number "))
b=float(input ("enter the second number"))
c=a+b
print(c)

enter the first number 4
enter the second number6
10.0

In [25]:
a=int(input ("enter the first number "))
b=input ("enter the second number")
c=a+b
print(c)

enter the first number 2
enter the second number3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
a=int(input ("enter the first number "))
b=str(input ("enter the second number"))
c=a+b
print(c)

enter the first number 2
enter the second number4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
print("hello")

hello

In [2]:
a = 2
b = 3
c = a+b
c

5

# Condition

In [ ]:
age---------18+------> you can vote
age----------18- ------- > you cant vote

In [8]:
# syntax-------->


# if condition 
#     print the msg

# else:
#     print the msg

age = 18
if age>=18:
    print("you can vote")
    
else:
    print("you cant vote")

you can vote

In [14]:
age = int(input("enter the age"))
if age> 18:
    print("you can vote")
elif age == 18:
    print("first time vote")
else:
    print("not the first time")

enter the age18
first time vote

In [ ]:
# wap to find a no is even or odd.
# find the max of two numbers.
# find the min of two numbers.

In [16]:
x = 24
if x % 2 == 0:
    print("even number")
else:
    print("odd number")

even number

In [18]:
a = 12
b = 56
if a>b:
    print("A")
else:
    print("b")

b

In [26]:
a = 41
b = 10
c = 71
if a>b and b>c:
    print("a")
elif b>c and b>a:
    print("b")
else:
    print("c")

c

In [ ]:
# A company decided to give bonus of 5% to employee
#if his/her year of service is more than 5 years.
#and a year of service and print the nex bonus amount.

In [12]:
year_of_service = 7 
salary = 10000

if year_of_service>5:
    bonus = (salary*5)/100
    
    print (bonus)
else:
    print("no bonus")

500.0